BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
PointerAlignment: Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

IndentCaseLabels: true
NamespaceIndentation: None
FixNamespaceComments: true

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
